*.pyc
*.pem
src/server/keys/
*.swp
src/server/logins.txt
test/clientA/config test/clientB/config test/clientC/config
test/clientA/config
test/clientC/config
src/server/ban_list
rapport.*
.idea
*.html
